<launch>
<node
pkg="grid_ndt"
type="receivePcd"
name="receivePcd"
output="screen"
>
<param name="demand" type="string" value="true" />
<param name="pos" type="string" value="30.02865,1.2212,0.40626" />
<param name="goal" type="string" value="63.02865,-37.2212,1.3026" />
<param name="resolution" type="double" value="0.5" />
<param name="slope_interval" type="double" value="0.4" />
</node>


<node
name="rviz"
pkg="rviz"
type="rviz"
required="true" />
</launch>
