<launch>
<node
pkg="grid_ndt"
type="receivePcd"
name="receivePcd"
output="screen"
>
    <param name="demand" type="string" value="true" />
    <param name="pos" type="string" value="10.02865,20.5212,0.40626" />
    <param name="goal" type="string" value="15.02865,5.2212,0.406" />
    <param name="resolution" type="double" value="0.5" />
    <param name="slope_interval" type="double" value="0.1" />
</node>


<node
name="rviz"
pkg="rviz"
type="rviz"
required="true" />
</launch>
